[submodule "container-ubuntu"]
	path = container-ubuntu
	url = git@github.com:Amuxbit/container-ubuntu.git
[submodule "container-perl"]
	path = container-perl
	url = git@github.com:Amuxbit/container-perl.git
[submodule "container-ddg-hack"]
	path = container-ddg-hack
	url = git@github.com:Amuxbit/container-ddg-hack.git
